.btn {
    background-color: blue;
    color: azure;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.5)
}
.p2p:visited{
    color:green
}
.username:focus{
    background-color: blueviolet;
}
.child:nth-child(3){
    background-color: blue;
}
.title::after{
    content:"Mr";
    color: blue;
    font-weight: bold:
}
